In [1]:
import pandas as pd
import numpy as np

concrete_data = pd.read_csv('https://ibm.box.com/shared/static/svl8tu7cmod6tizo6rk0ke4sbuhtpdfx.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [2]:
concrete_data.shape #number of data points

(1030, 9)

In [3]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [4]:
concrete_data.isnull().sum() #check if columns are null

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [5]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [6]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [7]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [8]:
#normalize data by subtracting mean, divide by std deviation
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

In [16]:
import keras
from keras.models import Sequential
from keras.layers import Dense

def regression_model():
    model = Sequential() 
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

model = regression_model()
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/100
 - 0s - loss: 1682.1477 - val_loss: 1167.8909
Epoch 2/100
 - 0s - loss: 1574.2865 - val_loss: 1060.1517
Epoch 3/100
 - 0s - loss: 1398.0630 - val_loss: 885.6038
Epoch 4/100
 - 0s - loss: 1117.0169 - val_loss: 649.0785
Epoch 5/100
 - 0s - loss: 765.7508 - val_loss: 403.4623
Epoch 6/100
 - 0s - loss: 438.9219 - val_loss: 244.7932
Epoch 7/100
 - 0s - loss: 277.8386 - val_loss: 187.2554
Epoch 8/100
 - 0s - loss: 232.2722 - val_loss: 176.2502
Epoch 9/100
 - 0s - loss: 214.6455 - val_loss: 174.6716
Epoch 10/100
 - 0s - loss: 202.3705 - val_loss: 175.0942
Epoch 11/100
 - 0s - loss: 193.2128 - val_loss: 172.1262
Epoch 12/100
 - 0s - loss: 185.6445 - val_loss: 170.6207
Epoch 13/100
 - 0s - loss: 179.6114 - val_loss: 170.0253
Epoch 14/100
 - 0s - loss: 174.6414 - val_loss: 168.4275
Epoch 15/100
 - 0s - loss: 169.9989 - val_loss: 167.6759
Epoch 16/100
 - 0s - loss: 166.0690 - val_loss: 167.4525
Epoch 17/100
 - 0s - loss: 163.2996 - val_loss: 163.9348
Epoch 18/100
 - 0s - loss: 159.3058 - val_loss: 164.5473
Epoch 19/100
 - 0s - loss: 156.7938 - val_loss: 162.6797
Epoch 20/100
 - 0s - loss: 154.5371 - val_loss: 165.9432
Epoch 21/100
 - 0s - loss: 152.2382 - val_loss: 164.6962
Epoch 22/100
 - 0s - loss: 149.1000 - val_loss: 161.5458
Epoch 23/100
 - 0s - loss: 147.3248 - val_loss: 163.5012
Epoch 24/100
 - 0s - loss: 145.3916 - val_loss: 161.3887
Epoch 25/100
 - 0s - loss: 143.4818 - val_loss: 163.0590
Epoch 26/100
 - 0s - loss: 141.9832 - val_loss: 164.1557
Epoch 27/100
 - 0s - loss: 140.5459 - val_loss: 165.4796
Epoch 28/100
 - 0s - loss: 139.1468 - val_loss: 165.1450
Epoch 29/100
 - 0s - loss: 138.2402 - val_loss: 165.3826
Epoch 30/100
 - 0s - loss: 136.2301 - val_loss: 164.7105
Epoch 31/100
 - 0s - loss: 134.8610 - val_loss: 164.7121
Epoch 32/100
 - 0s - loss: 133.8703 - val_loss: 162.6036
Epoch 33/100
 - 0s - loss: 132.4061 - val_loss: 163.4566
Epoch 34/100
 - 0s - loss: 131.6687 - val_loss: 167.1771
Epoch 35/100
 - 0s - loss: 130.1575 - val_loss: 162.9760
Epoch 36/100
 - 0s - loss: 129.3753 - val_loss: 166.9771
Epoch 37/100
 - 0s - loss: 127.4707 - val_loss: 161.3532
Epoch 38/100
 - 0s - loss: 126.3563 - val_loss: 165.1867
Epoch 39/100
 - 0s - loss: 124.9523 - val_loss: 163.8375
Epoch 40/100
 - 0s - loss: 124.2120 - val_loss: 162.1965
Epoch 41/100
 - 0s - loss: 122.6877 - val_loss: 164.6679
Epoch 42/100
 - 0s - loss: 121.4941 - val_loss: 166.3337
Epoch 43/100
 - 0s - loss: 120.4057 - val_loss: 163.5639
Epoch 44/100
 - 0s - loss: 118.8684 - val_loss: 164.0862
Epoch 45/100
 - 0s - loss: 117.2944 - val_loss: 167.1062
Epoch 46/100
 - 0s - loss: 115.4734 - val_loss: 163.0017
Epoch 47/100
 - 0s - loss: 114.2324 - val_loss: 161.3620
Epoch 48/100
 - 0s - loss: 112.2604 - val_loss: 163.5510
Epoch 49/100
 - 0s - loss: 110.2122 - val_loss: 161.3294
Epoch 50/100
 - 0s - loss: 108.2162 - val_loss: 158.2602
Epoch 51/100
 - 0s - loss: 106.0779 - val_loss: 162.4221
Epoch 52/100
 - 0s - loss: 103.9596 - val_loss: 161.4031
Epoch 53/100
 - 0s - loss: 101.9260 - val_loss: 156.5123
Epoch 54/100
 - 0s - loss: 99.7997 - val_loss: 155.8115
Epoch 55/100
 - 0s - loss: 97.5739 - val_loss: 155.6850
Epoch 56/100
 - 0s - loss: 94.9055 - val_loss: 158.1998
Epoch 57/100
 - 0s - loss: 91.6063 - val_loss: 153.9312
Epoch 58/100
 - 0s - loss: 89.0289 - val_loss: 150.1564
Epoch 59/100
 - 0s - loss: 85.9209 - val_loss: 153.4519
Epoch 60/100
 - 0s - loss: 83.0167 - val_loss: 149.1791
Epoch 61/100
 - 0s - loss: 81.2901 - val_loss: 157.0281
Epoch 62/100
 - 0s - loss: 78.6549 - val_loss: 142.2135
Epoch 63/100
 - 0s - loss: 74.9532 - val_loss: 150.9989
Epoch 64/100
 - 0s - loss: 72.9423 - val_loss: 150.7204
Epoch 65/100
 - 0s - loss: 70.4472 - val_loss: 149.3123
Epoch 66/100
 - 0s - loss: 68.0534 - val_loss: 145.9679
Epoch 67/100
 - 0s - loss: 66.0696 - val_loss: 140.6226
Epoch 68/100
 - 0s - loss: 64.2853 - val_loss: 148.3037
Epoch 69/100
 - 0s - loss: 63.0690 - val_loss: 143.5689
Epoch 70/100
 - 0s - loss: 61.4023 - val_loss: 141.6114
Epoch 71/100
 - 0s - loss: 59.0878 - val_loss: 139.5262
Epoch 72/100
 - 0s - loss: 57.6952 - val_loss: 142.1912
Epoch 73/100
 - 0s - loss: 56.2191 - val_loss: 138.0181
Epoch 74/100
 - 0s - loss: 55.1691 - val_loss: 142.1240
Epoch 75/100
 - 0s - loss: 53.4594 - val_loss: 136.9308
Epoch 76/100
 - 0s - loss: 52.4560 - val_loss: 131.0783
Epoch 77/100
 - 0s - loss: 51.8549 - val_loss: 135.3599
Epoch 78/100
 - 0s - loss: 50.5959 - val_loss: 130.9778
Epoch 79/100
 - 0s - loss: 49.4823 - val_loss: 133.3296
Epoch 80/100
 - 0s - loss: 48.9328 - val_loss: 134.8217
Epoch 81/100
 - 0s - loss: 47.7762 - val_loss: 126.3883
Epoch 82/100
 - 0s - loss: 46.9173 - val_loss: 129.8248
Epoch 83/100
 - 0s - loss: 46.2225 - val_loss: 124.2581
Epoch 84/100
 - 0s - loss: 45.6490 - val_loss: 126.3377
Epoch 85/100
 - 0s - loss: 44.7903 - val_loss: 125.4386
Epoch 86/100
 - 0s - loss: 44.3218 - val_loss: 129.7477
Epoch 87/100
 - 0s - loss: 43.3887 - val_loss: 125.6644
Epoch 88/100
 - 0s - loss: 43.2724 - val_loss: 115.4604
Epoch 89/100
 - 0s - loss: 42.5211 - val_loss: 129.3507
Epoch 90/100
 - 0s - loss: 41.9228 - val_loss: 116.2195
Epoch 91/100
 - 0s - loss: 41.8568 - val_loss: 120.3707
Epoch 92/100
 - 0s - loss: 40.8517 - val_loss: 127.9156
Epoch 93/100
 - 0s - loss: 40.7746 - val_loss: 125.1240
Epoch 94/100
 - 0s - loss: 41.3863 - val_loss: 109.4915
Epoch 95/100
 - 0s - loss: 40.0433 - val_loss: 125.2374
Epoch 96/100
 - 0s - loss: 39.3890 - val_loss: 121.8789
Epoch 97/100
 - 0s - loss: 38.6367 - val_loss: 124.7056
Epoch 98/100
 - 0s - loss: 38.8459 - val_loss: 114.6134
Epoch 99/100
 - 0s - loss: 38.2516 - val_loss: 130.0166
Epoch 100/100
 - 0s - loss: 37.9580 - val_loss: 116.2352